/* Applicable to all pages */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gelasio', serif;
    margin: 0;
}

/* Navigation related */

nav {
    align-self: center;
    font-size: 1.1rem;
    background-color: #2c3b94;
    justify-content: space-between;
    padding: 0 2em;
}

.primary-navigation a:hover,
.primary-navigation a:focus{
    text-decoration: underline;
    font-weight: 500;
}

.logo {
    text-align: center;
    margin: 1em 0 .25em 0;
}

.logo-top {
    font-size: 4rem;
    margin: 0;
    padding: 0;  
    line-height: 75%; 
}

.logo-bottom{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.logo a,
.primary-navigation a {
    text-decoration: none;
    color: whitesmoke;
}

.mobile-nav-hamburger {
    display: none;
}

.sr-only {
    visibility: hidden;
}

body {
    line-height: 1.75;
    font-size: 1.15rem;
}

main,
article {
    color: #2c3b94;
}

/* Footer Related */

footer {
    text-align: center;
    padding: 1.75em 0 1em 0;
    position: absolute;
    width: 100%;
    background-color: #2c3b94;
    color: whitesmoke;
}

.city {
    margin: .5em auto 0.75em;
}

.social-icons {
    margin: .5em;
    text-decoration: none;
}

/* Utility Classes */

.flex {
    display: flex;
    gap: 1.5em;
}

.link-color {
    color: #2c3b94;
}

.link-color-hover:hover,
.link-color-hover:focus {
    color: #5f1459;
}



/*For index.html*/

#alert {
    text-align: center;
    text-transform: uppercase;
    background-color: red;
    color: whitesmoke;
    font-size: 2rem;
    padding: 0.25em;
    display: none;
}

.main-image {
    width: 100%;
    height: auto;
    opacity: 0.6;
    max-height: 250px;
    object-fit: cover;
    object-position: center 33%;

}

.news-header{
    text-align: center;
    margin: .75em auto;
    font-size: 2.5rem;
}

.news-stories{
    margin: auto;
    text-align: center;
    flex-direction: column;
    width: 80%;
    max-width: 1400px;
}

.news-writeup{
    margin-top: .75em;
}

.contact-us {
    text-align: center;
    background-color: #2c3b94;
    color: whitesmoke;
}

.become-member {
    font-size: 2rem;
    padding: 0.5em 0;
}

.call-to-action {
    width: 80%;
    margin: .5em auto 0;
}

.contact-us a {
    display: inline-block;
    margin: 1em 0 0.5em 0;
    color: whitesmoke;
}

.upcoming-events-index {
    color: #2c3b94;
    margin: 1em auto 0 auto;
    width: 80%;
}

.calender-index {
    text-align: center;
}


/*contact.html*/

form {
    color: #2c3b94;
    padding-bottom: 1.5em;
}

label {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-weight: 500;
}

label,
input,
select,
textarea {
    display: inline-block;
    width: 85%;
}

input,
select,
textarea {
    border-radius: 5px;
    padding: 1em;
    background-color: whitesmoke;
}

.contact {
    text-align: center;
}

.instructions {
    color: #2c3b94;
    max-width: 90%;
    margin: auto;
    padding: 1em 0 0.5em 0;
}

.instructions h2 {
    margin-top: 1em;
}

.send-contact-form-btn {
    width: 60%;
    margin-top: 1em;
    padding: .75em 0;
    font-size: 1.25rem;
    background-color: #2c3b94;
    font-weight: 500;
    border: none;   
    color: whitesmoke;
}

.send-contact-form:hover,
.send-contact-form:active {
    background-color: #5f1459;
    font-weight: 700;
}


/* courses.html */

.courses-header {
    font-size: 2.5rem;
    margin: 0.25em auto;
    width: 90%;
}

.container-wrapper {
    flex-direction: column;
    width: 90%;
    margin: 0 auto 0.75em;
}

.course-pic {
    width: 100%;
    height: auto;
    opacity: 0.9;
    object-fit: cover;
    display: block;
    margin: 1em auto;
}

/* krape.html and highland.html  */

aside h2 {
    margin-bottom: .5em;
}

.course-wrapper {
    flex-direction: column;
    text-align: justify;
    width: 80%;
    margin: auto;
}

.course-wrapper p {
    margin: 1em 0;
}

.krape-header {
    font-size: 2.5rem;
    margin-top: .35em;
    text-align: center;
}

.course-map {
    margin: 0 auto 1.5em auto;
    display: block;
    max-width: 90%;
}

.course-location-description {
    margin: 1em 0;
}

/* new.html  */

.wrapper,
.about-wrapper {
    width: 90%;
    margin: auto;
}

.wrapper section,
.wrapper-subheader,
.wrapper-h3,
#disc-golf-media ul,
#disc-golf-media li{
    margin: 0.75em 0;;
}

#new-to-sport {
    margin: 0.75em 0 0.75em 0;
}

#golfers-code img {
    width: 90%;
    height: auto;
    display: block;
    margin: 1em auto 1.5em auto;
    object-fit: contain;
    max-width: 670px;
    max-height: 700px;
}

#competition-manual p:nth-of-type(2) {
    margin-top: .75em;
}

/* dginnwil.html */

.area-dg-intro p {
    margin-top: 1em;
}

.courses-and-clubs {
    font-size: 1.5rem;
}

.list{
    margin: 1em 0 .75em 0;
}

.list li {
    margin: .5em 0;
}

.where-to-play p,
.courses-and-clubs p {
    margin-top: 1em;
}

/* about.html */

.about-wrapper section h2,
.about-wrapper section p,
.about-wrapper section ul li {
    margin: 0.75em 0;
}


#about-last-paragraph {
    margin-bottom: 1em;
}

.calendar {
    margin: auto;
    display: inline;
}

.calendar iframe {
    display: block;  
    margin: 1em auto;
    max-width: 90%;
}

.large-calendar {
    display: none;
    height: 0;
    width: 0;
}

/*Media queries*/

/* For Smaller Screens*/

@media (max-width: 836px) {
    
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 20%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: #2c3b94;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 250ms ease-out;

    }

    .logo {
        padding-right: 1.5em;
        margin: 0.75em 0;
        z-index: 2;
    }

   .logo-top {
    display: none;
   } 

   .logo-bottom {
    font-size: 1.35rem;
    padding-bottom: .25em;
   }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    
    .mobile-nav-hamburger {
        display: block;
        position: absolute;
        background: transparent;
        background-image: url("/img/square.png");
        background-repeat: no-repeat;
        width: 2rem;
        top: .75rem;
        aspect-ratio: 1 / 1;
        right: 1rem;
        z-index: 2;
        border: 0;

    }
}

/* Larger Screens*/

@media (min-width: 837px) {
    
    .primary-navigation {
        align-items: center;
    }

    .contact-us {
        margin: 2em 0 1em 0;
    }


    /*index.html*/

    .news-stories {
        flex-direction: row;
        gap: 3em;
        width: 90%;
    }

    .news-writeup {
        text-align: justify;
    }

    .calendar-index {
        text-align: left;
    }

    /*contact.html*/

    .instructions {
        margin-top: .75em;
    }

    .form-container {
        max-width: 900px;
        margin: auto;
    }

    /*courses.html*/

    .courses-header {
        text-align: center;
        margin-top: 0.5em;
    }

    .container-wrapper {
        max-width: 1200px;
        flex-direction: row;
        margin: 0 auto;
        gap: 6em;
    }

    .course-preview {
        width: 100%;
    }

    .course-preview img {
        height: 50%;
    }

    /** krape.html and highland.html **/

    .course-wrapper {
        flex-direction: row;
        gap: 4em;
        margin-top: 2em;
        max-width: 1400px;
    }

    .krape-header {
        text-align: left;
    }

    .course-info {
        max-width: 90%
    }

    aside {
        margin-top: 7em;
        width: 100%;
    }

    .course-map {
        max-width: 100%;
    }

    /* new.html */

    .wrapper {
        max-width: 1100px;
        margin-bottom: 1em;
    }

    #new-to-sport,
    .area-dg-intro h1 {
        margin-top: 1.75em;
    }

    .area-dg-intro h1 {
        font-size: 2rem;
    }

    .dginil {
        font-size: 1.1rem;
    }

    .about-wrapper {
        max-width: 60%;
        font-size: 1.1rem;
    }

    .small-calendar {
        display: none;
        height: 0;
        width: 0;
    }

    .large-calendar {
        display: contents;
    }

}
